@import url("https://mui.kernelsu.org/internal/colors.css");

:root {
	/* Background colors */
	--bg-primary: var(--background, #fbf8ff);
	--bg-secondary: var(--tonalSurface, #f3f0f9);
	--bg-input: var(--surfaceContainerLow, #f5f2fa);

	/* Text colors */
	--text-constant: var(--onSurface, #1b1b21);
	--text-primary: var(--onSurface, #1b1b21);
	--text-muted: #757575;

	/* Border colors */
	--border-color: var(--outlineVariant, #c7c5d0);
	--border-alt: var(--secondaryContainer, #e1e0f9);
	--border-alt-text: var(--onSecondaryContainer, #444559);

	/* Scroll bar colors */
	--scroll-bar-color: #ddd;

	/* Button colors */
	--btn-primary: var(--primary, #565992);
	--btn-primary-text: var(--onPrimary, #fff);
	--btn-secondary: var(--primaryContainer, #e0e0ffff);
	--btn-secondary-text: var(--onPrimaryContainer, #11144bff);
	--btn-success: #4caf50;
	--btn-success-text: #fff;

	/* Prompt colors */
	--prompt: var(--inverseSurface, #322f35);
	--prompt-text: var(--inverseOnSurface, #f5eff7);
	--prompt-error: var(--errorContainer, #f9dedc);
	--prompt-error-text: var(--onErrorContainer, #8c1d18);

	/* Shadow colors */
	--shadow-light: rgba(0, 0, 0, 0.2);
	--shadow-medium: rgba(0, 0, 0, 0.5);

	/* Status colors */
	--status-installed: #4caf50;
	--status-not-installed: var(--text-muted);
}

@media (prefers-color-scheme: dark) {
	:root {
		/* Background colors */
		--bg-primary: var(--background, #131318);
		--bg-secondary: var(--tonalSurface, #1c1c24);
		--bg-input: var(--surfaceContainerLow, #1b1b21);

		/* Text colors */
		--text-constant: var(--onSurface, #e4e1e9);
		--text-primary: var(--onSurface, #e4e1e9);
		--text-muted: #c2c2c2;

		/* Border colors */
		--border-color: var(--outlineVariant, #46464f);
		--border-alt: var(--secondaryContainer, #444559);
		--border-alt-text: var(--onSecondaryContainer, #e1e0f9);

		/* Scroll bar colors */
		--scroll-bar-color: #666;

		/* Button colors */
		--btn-primary: var(--primary, #bfc2ff);
		--btn-primary-text: var(--onPrimary, #272b60);
		--btn-secondary: var(--primaryContainer, #3e4278ff);
		--btn-secondary-text: var(--onPrimaryContainer, #e0e0ffff);
		--btn-success: #81c784;
		--btn-success-text: #1b5e20;

		/* Prompt colors */
		--prompt: var(--inverseSurface, #e6e0e9);
		--prompt-text: var(--inverseOnSurface, #322f35);
		--prompt-error: var(--errorContainer, #8c1d18);
		--prompt-error-text: var(--onErrorContainer, #f9dedc);

		/* Status colors */
		--status-installed: #81c784;
		--status-not-installed: var(--text-muted);
	}
}
